<h2 class="my-3">
   1. Promise
</h2>
<hr>
<h2 class="my-3">
   2. Async-Await
</h2>

<div class="row">
    <div class='col-md-4'>

        <strong>ex-01 : With Promise</strong>
        <hr>
        <button class="btn btn-info" (click)=fetch1()>Buy Laptop</button>
        <hr>
        <div id="result1">{{element1}}</div>
    </div>

    <div class='col-md-4'>

        <strong>ex-02 : With Async/Await</strong>
        <hr>
        <button class="btn btn-info"(click)=fetch2()>Buy Laptop</button>
        <hr>
        <div id="result2">{{element2}}</div>
    </div>

    <div class='col-md-4'>

        <strong>ex-03 :With Fetch Api </strong>
        <hr>
        <button class="btn btn-info"(click)=fetch3()>Buy Laptop</button>
        <hr>
        <div id="result3">{{element3}}</div>
    </div>
</div>